In [2]:
# day26_list and dictionary comprehensions_240730
# List comprehension
# unique to Python language
# new_list = [new_itme for item in list]

num = [1,2,3]
new_num = []
for n in num:
    add_1 = n+1
    new_num.append(add_1)
print(new_num)
# above code can be expressed in list comprehension form
new_num = [n+1 for n in num]
print(new_num)

[2, 3, 4]
[2, 3, 4]

In [3]:
# list comprehension can work with string
name = "MoonCY"
new_name = [letter for letter in name]
print(new_name)

['M', 'o', 'o', 'n', 'C', 'Y']

In [5]:
# Python Sequences: list, range, string, tuple
# double the values in range
double_num = [2*n for n in range(1,5)]
print(double_num)

[2, 4, 6, 8]

In [6]:
# Conditional List Comprehension
# new_list = [new_item for item in list if test]
names = ["Moon", "JungJH", "ParkKN"]
short_names = [n for n in names if len(n)<=4]
print(short_names)

['Moon']

In [7]:
long_names = [n.upper() for n in names if len(n) >5]
print(long_names)

['JUNGJH', 'PARKKN']

In [ ]:
# LESSON 30 DAY 26 - DATA OVERLAP _my solution
with open("file1.txt") as f1:
  file1= f1.readlines()
file1_list = [int(n[:-1]) for n in file1]
with open("file2.txt") as f2:
  file2 = f2.readlines()
file2_list = [int(n[:-1]) for n in file2]

result = [n for n in file1_list if n in file2_list]
# Write your code above üëÜ
print(result)

In [ ]:
# LESSON 30 DAY 26 - DATA OVERLAP _teacher solution
with open("file1.txt") as file1:
    list1 = file1.readlines()

with open("file2.txt") as file2:
    list2 = file2.readlines()

result = [int(num) for num in list1 if num in list2]

# Your code above üëÜ
print(result)

In [ ]:
# Dictionary comprehension
# new_dict = {new_key:new_value for item in list}
# new_dict = {new_key:new_value for (key, value) in dict.items()}
# new_dict = {new_key:new_value for (key, value) in dict.items() if test}

In [48]:
import random
names = ["Moon", "JungJH", "ParkKN", "KimDY", "LeeSH", "ChoiGH"]
student_score = {student:random.randint(1,100) for student in names}
print(student_score)
passed_students = {n:s for (n, s) in student_score.items() if s >= 60}
print(passed_students)
print(student_score["Moon"])

{'Moon': 50, 'JungJH': 72, 'ParkKN': 53, 'KimDY': 91, 'LeeSH': 100, 'ChoiGH': 74}
{'JungJH': 72, 'KimDY': 91, 'LeeSH': 100, 'ChoiGH': 74}
50

In [ ]:
# LESSON 31 DAY 26 - DICTIONARY COMPREHENSION 1
sentence = input()
# üö® Don't change code above üëÜ
# Write your code below üëá
result = {p:len(p) for p in sentence.split()}
print(result)

In [ ]:
# LESSON 32 DAY 26 - DICTIONARY COMPREHENSION 2
weather_c = eval(input())
# üö® Don't change code above üëÜ

# Write your code üëá below:
weather_f = {d:(temp_c*9/5)+32 for (d, temp_c) in weather_c.items()}
print(weather_f)

In [23]:
# Use loop in pandas dataframe
student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score" : [56, 76, 98]
}

# Looping through dictionaries:
for (key, value) in student_dict.items():
    print(value)

import pandas

student_data_frame = pandas.DataFrame(student_dict)
print(student_data_frame)

['Angela', 'James', 'Lily']
[56, 76, 98]
  student  score
0  Angela     56
1   James     76
2    Lily     98

In [27]:
# Loop through a data frame
for (key, value) in student_data_frame.items():
    print(key)

student
score

In [32]:
# Loop through rows of a data frame
for (index, row) in student_data_frame.iterrows():
    print(row)

student    Angela
score          56
Name: 0, dtype: object
student    James
score         76
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [33]:
# Loop through rows of a data frame
for (index, row) in student_data_frame.iterrows():
    print(row.student)

Angela
James
Lily

In [34]:
# Loop through rows of a data frame _ÌäπÏ†ï ÌñâÍ≥º Ïó¥Ïùò Í∞íÏùÑ Ï∞æÎäî Î∞©Î≤ï!!!
for (index, row) in student_data_frame.iterrows():
    if row.student == "Angela":
        print(row.score)

56

In [51]:
# final project: NATO alphabet _my solution
#TODO 1. Create a dictionary in this format: {"A": "Alfa", "B": "Bravo"}
import pandas
nato_alphabet = pandas.read_csv("nato_phonetic_alphabet.csv")
nato_dict = {row.letter:row.code for (index, row) in nato_alphabet.iterrows()}
# print(nato_dict)

#TODO 2. Create a list of the phonetic code words from a word that the user inputs.
word = input("Enter a word: ").upper()
code_list = [nato_dict[a_word] for a_word in word]
print(code_list)

Enter a word:  heLLo

['Hotel', 'Echo', 'Lima', 'Lima', 'Oscar']

In [53]:
nato_alphabet.head()

  letter     code
0      A     Alfa
1      B    Bravo
2      C  Charlie
3      D    Delta
4      E     Echo

In [52]:
# final project: NATO alphabet _teacher solution
#TODO 1. Create a dictionary in this format: {"A": "Alfa", "B": "Bravo"}
import pandas
data = pandas.read_csv("nato_phonetic_alphabet.csv")
phonetic_dict = {row.letter: row.code for (index, row) in data.iterrows()}
print(phonetic_dict)

#TODO 2. Create a list of the phonetic code words from a word that the user inputs.
word = input("Enter a word: ").upper()
output_list = [phonetic_dict[letter] for letter in word]
print(output_list)

{'A': 'Alfa', 'B': 'Bravo', 'C': 'Charlie', 'D': 'Delta', 'E': 'Echo', 'F': 'Foxtrot', 'G': 'Golf', 'H': 'Hotel', 'I': 'India', 'J': 'Juliet', 'K': 'Kilo', 'L': 'Lima', 'M': 'Mike', 'N': 'November', 'O': 'Oscar', 'P': 'Papa', 'Q': 'Quebec', 'R': 'Romeo', 'S': 'Sierra', 'T': 'Tango', 'U': 'Uniform', 'V': 'Victor', 'W': 'Whiskey', 'X': 'X-ray', 'Y': 'Yankee', 'Z': 'Zulu'}

Enter a word:  Hello

['Hotel', 'Echo', 'Lima', 'Lima', 'Oscar']